.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}

.mainMenu{
    max-width: 50em;
    margin-left: auto; margin-right: auto;
    padding-top: 3em;
}