[submodule "mattermost"]
	path = dsf4docker/mattermost-docker
	url = https://github.com/mattermost/mattermost-docker.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/devonfw/devonfw-shop-floor.wiki.git
