@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-blue, 300);
$accent:  mat-palette($mat-red, 700);

$warn:    mat-palette($mat-red, 600);

$wololo: mat-palette($mat-blue, 700);

$theme: mat-light-theme($primary, $accent, $warn);

$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

:root{
    --primary-color: mat-color($primary);
    --accent-color: mat-color($accent);
    --warn-color: mat-color($warn);
}

@include angular-material-theme($theme);
@include covalent-theme($theme);
