.service {
  cursor: pointer;
  /* background-color: #eee; */
  background-image: url("./devonfw.png");
  background-position: center;
  background-repeat: no-repeat;
}

.service:hover {
  background-color: #fff;
}

.deploynewapp {
  text-align:center;
  margin: 1em;
}