<mat-grid-list cols="3">
  <mat-grid-tile 
    *ngFor="let service of myservices"
    class="service"
    style="color:'{{service.status}}'"
    [colspan]="1"
    [rowspan]="1">
    <!-- <font color="{{service.status}}">{{service.name}}</font> -->
    {{service.project}}<br>
    {{service.name}}<br>
    <button mat-mini-fab color=link style="color:#333" matTooltip="Visit App" matTooltipPosition="above" (click)="goToApp(service.urlLink)">Visit</button>
    <button mat-mini-fab color=warn style="color:#fff" matTooltip="Delete App" matTooltipPosition="above" (click)="deleteApp(service.name,service.namespace)">-</button>
  </mat-grid-tile>
</mat-grid-list>
<div class="deploynewapp">
  <button mat-fab color=primary style="color:#fff" matTooltip="Deploy new App" matTooltipPosition="above" (click)="openDialog()">+</button>
</div>
