<td-layout>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card>
        <button mat-button (click)="navigateTo()" matTooltip="Jenkins"><img class="menu-img" src="assets/images/jenkins.png"/></button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <button mat-button (click)="navigateTo()" matTooltip="Sonar"><img class="menu-img" src="assets/images/sonar.png"/></button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <button mat-button (click)="navigateTo()" matTooltip="Nexus"><img class="menu-img" src="assets/images/nexus.png"/></button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <button mat-button (click)="navigateTo()" matTooltip="Nexus"><img class="menu-img" src="assets/images/logo1.png"/></button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <button mat-button (click)="navigateTo()" matTooltip="Nexus"><img class="menu-img" src="assets/images/logo2.png"/></button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <button mat-button (click)="navigateTo()" matTooltip="Nexus"><img class="menu-img" src="assets/images/logo3.png"/></button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</td-layout>
